@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply bg-zinc-50 text-zinc-900 dark:bg-black dark:text-zinc-50 font-sans antialiased selection:bg-indigo-500/30;
    }
}

@layer utilities {
    .glass {
        @apply bg-white/70 dark:bg-zinc-900/70 backdrop-blur-xl border border-white/20 dark:border-zinc-800/50 shadow-xl;
    }

    .glass-card {
        @apply bg-white/40 dark:bg-zinc-900/40 backdrop-blur-md border border-white/30 dark:border-white/10 shadow-sm hover:shadow-2xl transition-all duration-300;
    }

    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
    }
}